---
import type { UnifiedPostListItem } from "@utils/posts-merge";
import PostCard from "./PostCard.astro";

const { page } = Astro.props;
---
<div class="w-full">
    {page.data.map((entry: UnifiedPostListItem) => (
        <PostCard
            source={entry.source}
            entryId={entry.entryId}
            title={entry.title}
            tags={entry.tags}
            category={entry.category}
            published={entry.published}
            updated={entry.updated}
            url={entry.url}
            image={entry.image}
            description={entry.description}
            draft={entry.draft}
            style=""
        ></PostCard>
    ))}
</div>
